.fng-task-metas{
    margin: 15px 0;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #1F7CA9;
}
.fng-task-metas .task-meta{
    margin: 5px 0;
}
.fng-task-metas .task-price{
    font-size: 25px;
    padding: 5px 15px;
    background: #f5fbff;
    float: right;
    color: #1F7CA9;
}
.fng-task-metas .task-status{
    
}
.fng-task-metas .task-status-1{
    color: green;
}
.fng-task-metas .task-status-2{
    color: orange;
}
.fng-task-metas .task-status-5{
    color: red;
}

.fng-manager{
    padding: 5px;
    background: #efefef;
    text-align: right;
    position:relative;
}
.fng-manager .manager-item{
    line-height: 1;
    display: inline-block;
    margin: 0 0 0 10px;
}
.fng-manager .manager-item .recall-button{
    display: inline-block;
    font-size: 14px;
    padding: 8px 10px;
}

#fng-requests{
    
}
#fng-requests .fng-manager{
    margin: 5px 0 0 0;
    background: #fff;
}
#fng-requests .request{
    margin: 25px 0;
    color: #333;
}
#fng-requests .request .request-price{
    float: right;
    font-size: 18px;
    padding: 5px;
    background: #fff;
}
#fng-requests .request .request-content{
    margin: 5px 0;
    padding: 10px;
    background: #f5f5f5;
    font-size: 14px;
}
#fng-requests .request .request-author{
    overflow: hidden;
    background: #f5f5f5;
    padding: 5px;
    margin-bottom: 5px;
}
#fng-requests .request .request-author .avatar-box{
    float: left;
    margin-right: 15px;
}
#fng-requests .request .request-author .author-meta{
    
}
#fng-requests .request .request-author .author-meta .author-name{
    
}
#fng-requests .request .request-author .author-meta .author-type{
    
}
#fng-requests .request .request-comments{
    margin-left: 30px;
    padding: 10px;
    background: #f5f5f5;
    font-size: 13px;
}
#fng-requests .request .request-comments .answer-box{
    position:relative;
}
#fng-requests .request .request-comments .request-comment{
    margin-bottom: 5px;
}
#fng-requests .request .request-comments .request-comment .comment-meta{
    
}
#fng-requests .request .request-comments .request-comment .comment-meta .author-name{
    font-weight:bold;
}
#fng-requests .request .request-comments .request-comment .comment-meta .comment-time{
    
}
#fng-requests .request .request-comments .request-comment .comment-content{
    
}
#fng-requests .request .request-comments .request-comment .comment-content p{
    margin: 0;
}

.fng-dialog .rcl-types-connects{
    margin: 20px auto;
}

.fng-task-list{
    
}
.fng-task-list .fng-task{
    background: #f7f8f8;
    margin: 10px 0;
    padding: 10px;
    display: flex;
}
.fng-task-list .fng-task:nth-child(1){
    text-align: center;
    font-weight: bold;
}
.fng-task-list .fng-task .task-meta{
    border-right: 1px solid #ccc;
    margin-right: 5px;
}
.fng-task-list .fng-task .task-meta:nth-child(1){
    width: 50%;
}
.fng-task-list .fng-task .task-meta:nth-child(2){
    width: 20%;
    text-align: center;
}
.fng-task-list .fng-task .task-meta:last-child{
    width: 20%;
    border: none;
    text-align: center;
}

.fng-request-history{
    
}
.fng-request-history .fng-task{
    background: #f7f8f8;
    margin: 10px 0;
    padding: 10px;
    display: flex;
}
.fng-request-history .fng-task .task-meta{
    border-right: 1px solid #ccc;
    margin-right: 5px;
}
.fng-request-history .fng-task .task-meta:nth-child(1){
    width: 60%;
}
.fng-request-history .fng-task .task-meta:last-child{
    width: 30%;
    border: none;
    text-align: center;
}

.fng-search-form{
    
}
.fng-search-form.type-vertical{
    
}
.fng-search-form.type-horizontal{
    border-top: 1px solid #ccc;
    padding-top: 5px;
}
.fng-search-form.type-horizontal .form-field{
    width: 32%;
    display: inline-block;
    padding: 4px;
    margin: 0;
}
.fng-search-form.type-horizontal .form-field .field-title{
    font-size: 14px;
}
.fng-search-form.type-horizontal .form-field .rcl-range-value{
    position: absolute;
    top: -20px;
    right: 0;
    min-width: auto;
}
.fng-search-form.type-horizontal .form-field .block-label{
    background: none;
    border: none;
    margin: 4px 0;
}

@media screen and (max-width:780px) {
    .fng-search-form.type-horizontal .form-field{
        width: 46%;
    }
}
@media screen and (max-width:450px) {
    .fng-search-form.type-horizontal .form-field{
        width: 100%;
    }
}
