/* office-rcl */
.office-rcl {
display: table;
max-width: 100%;  
margin: 0 auto; 
text-align: left;
padding: 0px;
}
.office-rcl-top {
max-width: 100%;
max-height: 100%;
top: 0;
left: 0;
overflow: auto;
}
.office-rcl-top2 {
max-width: 350px;
position: absolute;
top: 35%;
left: 45%;
margin: -125px 0 0 -125px;
}
.office-rcl-top img {
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
border: none;
}	
.office-rcl-hide {
display: none;
}
@media screen and (max-width: 700px) {
.office-rcl-top {
    visibility: hidden;
    display: none;
  }
}

	
