/* User Info Tab */
/* zoom-ava */
#rcl-office .uit_zoom_ava {
    background: rgb(216, 231, 238);
    color: rgb(229, 57, 53);
    font-size: 20px;
    left: 0;
    opacity: 0.7;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 2;
}
#rcl-office.office-control .uit_zoom_ava {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
}
#rcl-office .uit_zoom_ava:hover {
    opacity: 1;
}
/* END zoom-ava */

#user_info_blk {
    padding: 5px;
}

/* uit_basic_info */
.uit_general_title {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px;
    text-transform: uppercase;
}
.uit_name {
    font-size: 18px;
    font-weight: bold;
}
.uit_user_message {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    display: inline-block;
    float: right;
    margin: 10px 4px -15px;
    max-width: 260px;
    padding: 5px 8px;
}
.uit_user_message .uit_user_title {
    display: flex;
    line-height: normal;
}
.uit_user_message .uit_user_title > .rcli {
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    padding: 0 8px 0 3px;
}
.uit_blk {
    border-bottom: 1px dashed #ccc;
    line-height: 1.4;
    padding: 10px 0;
}
.uit_icon {
    color: #777;
    display: inline-block;
}
.uit_title:empty {
    display: none;
}
.uit_title {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 8px;
}
.uit_birth.uit_age {
    border: none;
    padding: 10px 0 0;
}
.uit_age .uit_title {
    font-size: 14px;
    margin: 0;
}
.uit_social .uit_title {
    margin: 0 0 0 8px;
}
.uit_age .uit_content {
    display: inline-block;
}
.uit_age .uit_content .bip_age {
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
}
.uit_birth.uit_dob {
    padding: 10px 0;
}
.uit_birth.uit_age + .uit_birth.uit_dob {
    padding: 0 0 10px;
}
.uit_social .uit_icon,
.uit_country .uit_icon,
.uit_last_page .uit_icon {
    margin: 0 0 0 8px;
}
.uit_basic_info .uit_icon {
    font-size: 16px;
}
.uit_country .uit_title {
    margin: 0 0 -3px 8px;
}
.uit_blk.uit_all_custom_field {
    border: none;
}
.uit_all_custom_field .show-profile-fields {
    border: 1px solid #e1e1e1;
}
#user_info_blk .uit_all_custom_field p {
    padding: 8px;
}
.uit_all_custom_field p:nth-child(2n) {
    background-color: #f0f0f0;
}
.uit_all_custom_field span {
    padding: 0 3px;
}
.uit_blk.uit_description {
    display: flex;
    width: 100%;
}
.uit_description .uit_icon {
    align-items: center;
    display: flex;
}
.uit_description .uit_title {
    align-items: center;
    display: flex;
    margin:  0 8px;
}
.uit_description .uit_content {
    background-color: #f9f9f9;
    border: 1px solid #e2e2e2;
    padding: 0 5px;
}

.uit_balance {
    float: right;
    margin: 5px 10px 0;
}
.uit_basic_info .uit_balance {
    border: medium none;
    margin: 2px 10px;
    padding: 0;
}
.uit_balance .uit_icon {
    color: #216c2a;
    font-size: 26px;
    vertical-align: middle;
}
.uit_balance .uit_title {
    margin: 0 0 0 8px;
    vertical-align: middle;
}
.uit_balance .uit_content {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 5px;
    vertical-align: middle;
}
.uit_balance .uit_content .rcli {
    padding: 0 0 0 3px;
}
.uit_content .ucc_cou_sit > img {
    margin: 0 5px 4px 0;
    vertical-align: middle;
    width: 36px;
}
/* END uit_basic_info */

/* uit_statistics */
.uit_statistics {
    text-align: center;
}
.uit_activity {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 8px;
    text-align: left;
}
.uit_activity .rcli {
    color: #ff8c8c;
    font-size: 22px;
    padding: 0 10px 0 0;
    vertical-align: middle;
}
.uit_activity > span {
    vertical-align: middle;
}
.uit_stat_blk {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 4px 6px -2px rgba(0, 0, 0, 0.2),
               -1px -3px 5px -5px rgba(0, 0, 0, 0.3);
    color: #777;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin: 10px 1%;
    min-width: 130px;
    padding: 7px 0;
    width: 22%;
}
.uit_cnt_title::before {
    border-bottom: 1px dashed #ccc;
    content: "";
    display: block;
    margin: 0 auto 5px;
    width: 65%;
}
.uit_cnt_title {
    font-size: 13px;
    line-height: 14px;
}
/* END uit_statistics */

/* START uit_footer */
.uit_session {
    padding: 8px;
}
.uit_total_sesions_1 .uit_nmbr {
    display: none;
}
.uit_nmbr {
    border: 1px solid #ccc;
    float: left;
    line-height: 1;
    margin: 4px 8px 0 0;
    padding: 8px 10px;
}
.uit_session > div > span {
    color: #555;
    font-weight: bold;
    margin: 0 8px 0 0;
}
.uit_session > div > span::after {
    content: ":";
}
.uit_session:not(.uit_session_1) {
    border-top: 1px dashed #ccc;
}
.uit_notice {
    color: #666;
    font-size: 10px;
    line-height: 1;
    margin: 4px 10px;
    max-width: 485px;
}
/* END uit_footer */



@media screen and (max-width:480px){
    .uit_user_message {
        margin: 10px;
        max-width: none;
    }
    .uit_statistics {
        max-width: none;
    }
    .uit_blk.uit_description {
        display: block;
    }
    .uit_description .uit_icon {
        display: inline-block;
    }
    .uit_description .uit_title {
        display: inline-block;
        margin: 0 8px 8px;
    }
}





/* START uit control */
#rcl-office .recall-button.tc_active {  /* UI Tab - ajax кнопки состояния */
    background-color: #e5e5e5;
    border-bottom: 2px solid #ccc;
    pointer-events: none;
}
#rcl-office .tc_active > span {
    color: #000;
}
.tc_uit_sidebar {
    display: inline-block;
    margin: -10px 0 0 -10px;
    position: relative;
    width: 200px;
}
#rcl-avatar.uit_avatar {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#rcl-avatar.uit_avatar .avatar-image {
    height: 300px;
    position: relative;
}
#rcl-avatar.uit_avatar img {
    border: none;
    border-radius: 0;
    display: inline-block;
    float: none;
    height: 100% !important;
    margin: 0 calc(-100% + 50px);
    max-height: 100%;
    max-width: inherit;
    width: inherit;
}
.avatar-image .tc_line.tc_ava {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 5px;
    position: absolute;
    width: 100%;
}
.avatar-image .tc_line.tc_ava a {
    align-items: center;
    color: #ccc;
    display: flex;
    justify-content: center;
}
.avatar-image .tc_line.tc_ava a:hover {
    color: #fff;
}
.avatar-image .tc_line.tc_ava .rcli {
    font-size: 14px;
    padding: 0 5px 0 0;
}
.uit_change_profile {
    display: flex;
}
.tc_button_change {
    background-color: #e5e5e5;
    color: #000;
    display: inline-block;
    padding: 5px;
    width: 100%;
}
.tc_button_change:hover {
    opacity: 0.7;
}
.tc_uit_sidebar .uit_social {
    line-height: 1;
    padding: 0 5px;
}
.tc_uit_sidebar #social-link-rcl {
    margin: 0 0 8px;
}

.tc_uit_content {
    float: right;
    width: calc(100% - 190px);
}
.tc_uit_content .uit_description {
    border: none;
    padding: 0 0 0 10px;
}
.tc_uit_content .uit_description .uit_content {
    max-height: 100px;
    overflow-y: auto;
}
.tc_uit_content .uit_description .uit_title {
    display: none;
}

.tc_uit_form {
    margin: 15px 0;
}
.tc_uit_form .uit_blk .uit_balance {
    display: flex;
    margin: 3px 0 0 8px;
    padding: 0;
}
.tc_uit_form .bip_blk b {
    display: none;
}
.tc_uit_form .uit_title {
    align-items: center;
    display: flex;
    min-width: 150px;
}
.tc_uit_form .uit_blk.uit_age {
    border-bottom: 1px dashed #ccc;
}
.tc_uit_form .uit_age .uit_title {
    font-size: 16px;
    margin: 0 0 5px 8px;
}
.tc_uit_form .uit_content {
    align-items: center;
    display: flex;
}
/*.tc_uit_form .uit_balance {
    float: none;
    margin: 3px 0 0 8px;
}*/

/* Spoiler */
.uit_spoiler_title {
    border: 1px solid #fff;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.uit_spoiler_title:hover {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
}

.uit_spoiler_content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 5px 10px;
    transform: translateY(-40px);
    transition: all 0.15s linear 0s;
    visibility: hidden;
}
.uit_spoiler_content.uit_open {
    height: 100%;
    opacity: 1;
    transform: none;
    transition: all 0.25s linear 0s;
    visibility: visible;
}
/* END spoiler */
.uit_link,
.uit_ajax_link {
    display: block;
    font-size: 13px;
    margin: 0 0 2px;
}
span.uit_link a,
span.uit_ajax_link a {
    color: #000;
}
.uit_link .uit_ajax_sum,
.uit_ajax_link .uit_ajax_sum {
    color: #999;
    margin: 0 0 0 5px;
}


.uit_follow {
    border-bottom: 1px dashed #ccc;
    box-sizing: border-box;
    overflow: hidden;
    padding: 8px;
}
.uit_follow:empty {
    display: none;
}

.tc_uit_sidebar .thumb-user {
    float: left;
    overflow: hidden;
    position: relative;
    width: 33.3%;
}
.uit_follow .avatar {
    border: 1px solid #fff;
    border-radius: 0;
    box-sizing: border-box;
    padding: 1px;
    width: 100%;
}
.uit_follow .avatar:hover {
    border: 1px solid #aaa;
    opacity: 0.8;
}
.tc_uit_sidebar .thumb-user .status_user {
    position: absolute;
    right: 5px;
    top: 3px;
}
.tc_uit_content .uit_link,
.tc_uit_content .uit_ajax_link,
.tc_uit_content .uit_p_gallery {
    margin: 0 5px;
}

/* gallery*/
.uit_p_gallery #files.gallery-attachments {
    column-count: auto;
}
.uit_p_gallery li {
    float: left;
    margin: 0 0 0 0.5%;
    position: relative;
    width: 24.5%;
}
.uit_presents,
.uit_v_gallery {
    border-bottom: 1px dashed #ccc;
    padding: 0 8px;
}
.uit_v_gallery #videos li {
    width: 100%;
}
.uit_v_gallery #videos h4 {
    font-size: 13px;
    font-weight: normal;
    pointer-events: none;
}
/**/
.uit_one_gift {
    display: inline-block;
    width: 20%;
}


/* Блок центрального контента по размеру */

.uit_w_700 .tc_uit_sidebar {
    width: 175px;
}
.uit_w_700 .tc_uit_content {
    width: calc(100% - 165px);
}
.uit_w_700 #rcl-avatar.uit_avatar .avatar-image {
    height: 265px;
}
.uit_w_400 .tc_uit_sidebar,
.uit_w_550 .tc_uit_sidebar {
    width: 140px;
}
.uit_w_400 .tc_button_change,
.uit_w_550 .tc_button_change,
.uit_w_400 .tc_line.tc_ava,
.uit_w_550 .tc_line.tc_ava {
    font-size: 14px;
    line-height: 12px;
}
.uit_w_400 .tc_uit_content,
.uit_w_550 .tc_uit_content {
    width: calc(100% - 130px);
}
.uit_w_400 #rcl-avatar.uit_avatar .avatar-image,
.uit_w_550 #rcl-avatar.uit_avatar .avatar-image {
    height: 210px;
}



@media screen and (max-width:568px){
    #user_info_blk .tc_uit_content,
    #user_info_blk .tc_uit_sidebar {
        width: 100%;
    }
    #rcl-avatar.uit_avatar {
        float: left;
        width: 150px;
    }
    .tc_uit_sidebar .uit_social {
        display: flex;
        justify-content: flex-end;
        margin: 5px 0;
    }
    .uit_follow,
    .uit_presents {
        box-sizing: border-box;
        float: right;
        width: calc(100% - 150px);
    }
    .tc_uit_sidebar .thumb-user {
        width: 16.5%;
    }
    .uit_v_gallery {
        display: inline-block;
        padding: 0 0 0 20px;
    }
    .uit_v_gallery #videos li {
        width: 49%;
    }
    .tc_uit_content .uit_description {
        padding: 0;
    }
}

@media screen and (max-width:480px){
    .tc_uit_form .uit_title {
        font-size: 14px;
        min-width: 125px;
    }
    .tc_uit_form .uit_age .uit_title {
        font-size: 14px;
    }
}

@media screen and (max-width:360px){
    .tc_uit_sidebar {
        margin: -7px 0 0 -7px;
    }
    #rcl-avatar.uit_avatar {
        width: 110px;
    }
    .uit_w_400 #rcl-avatar.uit_avatar .avatar-image {
        height: 165px;
    }
    .uit_follow, .uit_presents {
        width: calc(100% - 110px);
    }
    .tc_uit_sidebar .thumb-user {
        width: 33.3%;
    }
}


