/* аватара */
.profile-progress{
	display: inline-block;
	position: absolute;
	border:1px solid #ebebeb;
	padding:1px;
	text-align: center;
	font-size:11px;
	top: 10%;
	width: 200px;
	background: #ccc;
	left: 0%;
	z-index:2;
	margin: 68px 30px;
}
.profile-progress-img{
	display: inline-block;
	position: absolute;
	border: none;
	padding:1px;
	text-align: center;
	top: 10%;
	width: 200px;
	background: none;
	left: 0%;
	z-index:2;
	margin: 6px 30px;
}
.profile-progress-bar{
	background-color:#337ab7;
	color: #fff;
}
.profile-progress-text{
	background-color:#d65050;
	color:#fff;
}
#i-have-a-tooltip:before {
  content:attr(data-description);
 box-sizing:border-box;
 background:rgba(0,0,0,.7);
 color:#fff;
 padding:10px;
 position:absolute;
 left:50%;
 top:-30px;
 margin-left:-100px;
 width:400px;
 min-width:250px;
 height:70px;
 line-height:10px;
 border-radius:5px;
 opacity:0;
 transition:.25s ease-in-out;
}

#i-have-a-tooltip:after {
   content:'';
 display:block;
 position:absolute;
 top:10px;
 left:50%;
 margin-left:-8px;
 height:0;
 width:0;
 border-left:8px solid transparent;
 border-right:8px solid transparent;
 border-top:8px solid rgba(0,0,0,.7);
 transition:.25s ease-in-out;
 opacity:0;
}

#i-have-a-tooltip:hover:before {
 opacity:1;
 top:-70px;
}
 
#i-have-a-tooltip:hover:after {
 opacity:1;
 top:1px;
}
.profile-element-hide{
display: none;
}
/* подробности */
.profile-progress-profile{
	top: 10%;
	max-width: 500px;
	border:1px solid #ebebeb;
	padding:1px;
	text-align: center;
	font-size:15px;
	background: #ccc;
	left: 0%;
	margin: 20px 0px;
}
/* меню */
.profile-progress-menu{
	display: inline-block;
    font-size:12px;
	color:#fff;
    margin: 0 0 0 5px;
    text-transform: none;
	
}
.profile-progress-menu-text{
	padding:0px 3px;
	background: rgba(75, 125, 141, 0.71);
    border: 1px solid rgba(125, 125, 125, 0.4);
    color: #ccc;
}