.usf-form{
    
}
.usf-form.column-2{
    
}
.usf-form.column-2 .form-field{
    width: 48%;
    display: inline-block;
    margin: 5px;
}
.usf-form.column-3{
    
}
.usf-form.column-3 .form-field{
    width: 32%;
    display: inline-block;
    margin: 5px;
}
.usf-form.column-4{
    
}
.usf-form.column-4 .form-field{
    width: 23%;
    display: inline-block;
    margin: 5px;
}

.usf-form.column-2 .form-field .rcl-range-value,
.usf-form.column-3 .form-field .rcl-range-value,
.usf-form.column-4 .form-field .rcl-range-value,
.usf-form.column-2 .form-field .rcl-runner-value,
.usf-form.column-3 .form-field .rcl-runner-value,
.usf-form.column-4 .form-field .rcl-runner-value{
    position: absolute;
    top: -20px;
    right: 0;
    min-width: auto;
}