/*********************************************************************
**																	**
**	Name: New Window Login 											**
**	(Новые стили всплывающего окна, отключение wp-admin и wp-login)	**
**	Author: Web-Blog                                            	**
**	css/full-pop-style.css											**
**																	**
*********************************************************************/
#rcl-overlay
{
    background-color: #3B8DBD !important;
}
.panel_lk_recall .form-tab-rcl
{
    background-color: #3B8DBD;
    border: 0px solid #DDD;
    padding: 0;
    width: 80%;
}
.floatform
{
    /*margin: -20px auto 0;*/
    max-width: 50% !important;
    width: 100% !important;
    overflow: hidden !important;
    color: #FFFFFF !important;
    margin: 0 auto !important;
}
.panel_lk_recall.floatform
{
    z-index: 9999 !important;
    position: absolute !important;
    left: 25% !important;
    margin-left: 0px !important;
}
.panel_lk_recall.floatform .form-tab-rcl
{
    box-shadow: 0 0 0 0 rgb(30, 56, 75);
}
.form_head H2
{
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
.panel_lk_recall.floatform .close-popup
{
    position: absolute;
    right: 0px;
    margin: -12px 12px 0px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0) !important;
}
.close-popup
{
    font-size: 30px;
    color: #FFFFFF;
    float: right;
}
.close-popup-plus
{
}
@media all and (max-width: 780px)
{
    .panel_lk_recall
    {
        max-width: 100% !important;
    }
    .panel_lk_recall.floatform
    {
        left: 0% !important;
        /*padding: 5%;*/
    }
    .close-popup
    {
    }
}
@media all and (max-width: 420px)
{
    .panel_lk_recall
    {
        max-width: 100% !important;
    }
    .panel_lk_recall.floatform
    {
        left: 0% !important;
        /*padding: 5%;*/
    }
    .close-popup
    {
    }
    .panel_lk_recall.floatform .close-popup
    {
        /*+placement: 0px 0px;*/
        position: relative;
        left: 0px;
        top: 0px;
    }
}
.panel_lk_recall .form-tab-rcl .form-title
{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 30px;
    margin: 50px 0px 30px;
    padding-top: 8px;
}
.panel_lk_recall .form-block-rcl LABEL, .ulogin_label
{
    font-weight: 400;
    color: #FFFFFF;
    font-size: 20px;
}
.form-block-rcl .rcl-field-notice
{
    font-size: 13px;
    color: #FFFFFF;
}
.panel_lk_recall .form-tab-rcl INPUT[type="submit"]
{
    background: rgba(59, 140, 188, 0);
    color: #FFF;
    /*padding: 10px 20px 8px !important;*/
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
    float: none;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    border: 2px solid #FFFFFF;
    padding: 10px 12px;
}
.panel_lk_recall .form-tab-rcl INPUT[type="submit"]:hover
{
    background-color: #FFFFFF !important;
    opacity: 1 !important;
    transition: 0.3s;
    color: #3B8DBD;
}
.input-container-footer
{
    text-align: center;
    margin-top: 30px;
}
.form-block-rcl .rcli
{
    display: none;
}
.panel_lk_recall .nwl-register, .panel_lk_recall .nwl-forgot, .panel_lk_recall .nwl-login
{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px !important;
    float: none !important;
    margin: 5px !important;
    padding: 0 !important;
}
.panel_lk_recall .nwl-forgot, .panel_lk_recall .nwl-register
{
    float: none;
    margin-top: 10px;
}
.panel_lk_recall .nwl-register:hover, .panel_lk_recall .nwl-forgot:hover, .panel_lk_recall .nwl-login:hover
{
    transition: 0.3s;
    text-decoration: underline;
}
.panel_lk_recall .form-block-rcl .field-icon
{
    display: none;
}
.panel_lk_recall .form-tab-rcl .form-block-rcl
{
    margin: 15px 0px;
}
.panel_lk_recall FORM INPUT, .panel_lk_recall FORM SELECT, .panel_lk_recall FORM TEXTAREA
{
    margin: 0px 0px 0px 0;
    width: 100%;
    background: #FFF;
    border: 0px solid #DDD;
    color: #777;
    outline: 0;
    /*padding: 8px 20px !important;*/
    /*+border-radius: 50px !important;*/
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -khtml-border-radius: 50px !important;
    border-radius: 50px !important;
    font-size: 30px;
    padding-left: 16px !important;
    padding-bottom: 8px !important;
}
.panel_lk_recall .default-field INPUT[type="text"], .panel_lk_recall .default-field INPUT[type="email"], .panel_lk_recall .default-field INPUT[type="password"]
{
    margin: 0;
    width: 100%;
    /*padding: 10px 5px 10px 20px;*/
    /*+border-radius: 0px;*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
.panel_lk_recall FORM INPUT[type="checkbox"]
{
    width: auto;
}
.panel_lk_recall LABEL INPUT[type="radio"]
{
    width: auto;
}
.panel_lk_recall #passwordStrength, .panel_lk_recall #notice-chek-password SPAN
{
    padding: 4px 20px;
    display: block;
    max-width: 50%;
    margin: 5px auto 0;
    text-align: center;
    color: #777777;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    /*+border-radius: 50px;*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    font-weight: bold;
}
.panel_lk_recall .form-tab-rcl .error, .panel_lk_recall .form-tab-rcl .success
{
    padding: 4px 20px;
    width: 100%;
    margin: 5px auto 0;
    color: #777777;
    font-size: 15px;
    line-height: 1;
    /*+border-radius: 50px;*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    font-weight: bold;
}
.form-block-rcl .g-recaptcha
{
    width: 294px;
    margin: auto;
}
.form-block-rcl .g-recaptcha > DIV
{
    box-sizing: border-box;
    max-width: 100%;
    width: 294px !important;
}
.form-block-rcl .g-recaptcha IFRAME
{
    width: 100%;
    .form-block-rcl .g-recaptcha
    {
        margin-bottom: 30px;
    }
    .form-block-rcl .g-recaptcha > div
    {
        box-sizing: border-box;
        max-width: 100%;
        width: 294px !important;
    }
    .form-block-rcl .g-recaptcha iframe
    {
        width: 100%;
    }
}
