.fng-manager{
    padding: 5px;
    position:relative;
}
.fng-manager .manager-item{
    line-height: 1;
    display: inline-block;
    margin: 0 10px 0;
    background: #f3f3f3;
    border: 1px solid #ccc;
}
.fng-manager .manager-item .recall-button{
    display: inline-block;
    font-size: 14px;
    padding: 8px 10px;
    color: #333;
    text-decoration:  none;
}